@font-face {
  font-family: Roboto;
  src: url('../vendor/Roboto/Roboto-Regular.ttf') format('truetype'); 
}
p, span, div, body, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #18191f;
  font-weight: bold;
  font-family: Roboto;
}
article h1 {
  font-size: 2em;
}
a {
  cursor: pointer;
  color: #18191f;
  font-weight: bold;
}
body {
  background: #fef;  
}
input {
  margin-left: 15px;
  cursor: pointer;
}
input[type='radio']::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  background-color: #000;
}
label {
  cursor: pointer;
}
button {
  border: 1px solid #777;
  padding: 5px;
  border-radius: 3px;
  background: #ddd;
  margin: 0 0 0 20px;
  font-size: 16px;
}
button[checked] {
  color: #fff;
  background: #555;
}
select {
  padding: 5px;
  background: #ddd;
  font-size: 16px;
  font-family: Roboto;
  color: #18191f;
  font-weight: bold;
}
option {
  font-weight: bold;
}
.dark-theme select {
  color: #fff;  
  background: #666;
}
.gray-theme select {
  color: #fff;  
  background: #999;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #b8e4e4;
  border-bottom: 4px solid #aaa;
  z-index: 1;
}
.dark-theme {
  background: #483848;
}
.dark-theme header {
  background: #282838;
  border-bottom-color: #111;
}
.dark-theme h1,
.dark-theme div,
.dark-theme p,
.dark-theme a {
  color: #fff;
}
.dark-theme footer {
  background: #282838;
  border-top-color: #111;
}
.dark-theme .footer__social a {
  background: #fff;  
}
.dark-theme svg {
  fill: #fff;  
}
.gray-theme {
  background: #807880;
}
.gray-theme header {
  background: #554f55;
  border-bottom-color: #333;
}
.gray-theme h1,
.gray-theme div,
.gray-theme p,
.gray-theme a {
  color: #fff;
}
.gray-theme footer {
  background: #554f55;
  border-top-color: #333;
}
.gray-theme .footer__social a {
  background: #fff;    
}
.gray-theme svg {
  fill: #fff;  
}
.drop-wrap-content-tablet {
  display: none;
}
@media (min-width: 640px) and (max-width: 1080px) {
  .drop-wrap-content-tablet {
    display: block;
  }  
}
.drop-wrap-content-mobile {
  display: none;  
}
@media (max-width: 639px) {
  .drop-wrap-content-mobile {
    display: block;  
  }
}
@media (max-width: 1080px) {
  .drop-wrap-content-desktop {
    display: none;
  }
}
@media (max-width: 639px) {
  .header-menu {
    position: relative;
  }
}
@keyframes skaleX {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
h1 {
  width: 330px;
  text-align: center;
  margin: 20px auto;
  animation: skaleX 2s linear infinite alternate;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img:hover {
  box-shadow: 0px 0px 5px 3px;
}
.backendless-gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10px 10px 0; 
}
@media (min-width: 1081px) {
  .backendless-gallery-container a:nth-child(16n + 1) {
    grid-row: auto /span 3;
    grid-column: auto /span 3;
  }
  .backendless-gallery-container a:nth-child(16n + 10) {
    grid-row: auto /span 3;
    grid-column: auto /span 3;
  }
}  
@media (min-width: 640px) and (max-width: 1080px) {
  .backendless-gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .backendless-gallery-container a:nth-child(3n + 1) {
    grid-row: auto /span 2;
    grid-column: auto /span 2;
  }
}
@media (max-width: 639px) {
  .backendless-gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .backendless-gallery-container a:nth-child(4n + 1) {
    grid-column: auto /span 3;
  }
}
.backendless-gallery-container a {
  margin: 10px 0 0 10px;
}
footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #b8e4e4;
  border-top: 4px solid #aaa;
}
.footer__info a {
  margin-right: 20px;
}
.footer__social a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: black;  
  margin: 0 5px;
  text-decoration: none;
}
.footer__social__instagram {
  mask-image: url(../img/instagram.svg);
  -webkit-mask-image: url(../img/instagram.svg);
}
.footer__social__linkedin {
  mask-image: url(../img/linkedin.svg);
  -webkit-mask-image: url(../img/linkedin.svg);
}
.footer__social .footer__social__twitter {
  width: 30px;
  mask-image: url(../img/twitter.svg);
  -webkit-mask-image: url(../img/twitter.svg);  
}
.footer__social .footer__social__facebook {
  width: 12px;
  mask-image: url(../img/facebook.svg);
  -webkit-mask-image: url(../img/facebook.svg);  
}
.footer__social .footer__social__github {
  width: 30px;
  mask-image: url(../img/github.svg);
  -webkit-mask-image: url(../img/github.svg);  
}
.footer__social .footer__social__slack {
  width: 24px;
  mask-image: url(../img/slack.svg);
  -webkit-mask-image: url(../img/slack.svg);  
}
.footer__social .footer__social__youtube {
  width: 24px;
  mask-image: url(../img/youtube.svg);
  -webkit-mask-image: url(../img/youtube.svg);  
}
@media (max-width: 639px) {
  footer {
    display: block;
    text-align: center;
  }
  .footer__info {
    margin-bottom: 15px;
  }
  .footer__info a {
    margin: 10px;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
}
@media (min-width: 640px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}
.modal-content {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}
.modal-content p,
.modal-content a {
  color: #000;  
}
@media (min-width: 1080px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
}
.close {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1;
  opacity: .5;
  text-decoration: none;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body {
  padding: 15px;
}